* {
  font-family: Lato, sans-serif;
}
body {
  font-size: 15px;
  line-height: 1.8;
  color: #818181;
}
h1 {
  margin: 0;
  padding: 5px;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: rgb(102,102,102);
  color: #fff;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px; 
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 20px 50px;
  background-color: #f6f6f6;
}

.navbar {
  margin-bottom: 0;
  background-color: rgb(102,102,102);
  z-index: 9999;
  border: 0;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  padding: 0;
}
.navbar img {
  width: 50px;
}

.btn-group {
  padding: 5px;
}
#top {
  text-align: center;
}
.line {
  position: relative;
  width: 10%; 
  height: 1px; 
  border-bottom: 1px solid black; 
  text-align: center;
  left: 45%; 
} 

#canvas {
  border-right: 1px solid black;
}